<mat-sidenav-container fullscreen>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="toolbar-title">Novo Item</span>
      <span class="spacer"></span>
      <button mat-icon-button matTooltip="Limpar Carrinho" (click)="onRemoveItem()" *ngIf="showRemove">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-toolbar>

    <form [formGroup]="form" (submit)="onSaveClick()">
      <section class="body">
        <mat-card>
          <mat-form-field appearance="fill">
            <mat-label>Produto</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Valor Unitário</mat-label>
            <input matInput #unValue type="number" formControlName="unitaryValue" (focus)="unValue.select()">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Quantidade</mat-label>
            <input matInput #amount type="number" formControlName="amount" (focus)="amount.select()">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Valor Total</mat-label>
            <input matInput [value]="item.total | currency:'BRL'" readonly>
          </mat-form-field>
        </mat-card>
      </section>
      <button mat-fab type="submit" *ngIf="canSave" color="primary" class="fab-bottom-right" (click)="onSaveClick()">
        <mat-icon>check</mat-icon>
      </button>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>