:host {
    button[mat-fab] {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }

    .toolbar-title {
        margin-left: 8px;
    }

    .actions {
        right: 0;
        position: fixed;
        padding-right: 15px;
    }

    .body {
        padding: 16px;
        max-width: 600px;
        margin: 0 auto;

        mat-card {
            padding: 16px;

            mat-form-field {
                width: 100%;
                display: block;
                margin-bottom: 8px;
            }
        }
    }
}