<td-layout>
  <td-layout-nav toolbarTitle="Novo Item">
    <button mat-icon-button td-menu-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <form [formGroup]="form" (submit)="onSaveClick()">
      <section class="body">
        <mat-card>
          <mat-form-field>
            <input matInput type="text" placeholder="Produto" formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput #unValue type="number" placeholder="Valor Unitário" formControlName="unitaryValue" (focus)="unValue.select()">
          </mat-form-field>
          <mat-form-field>
            <input matInput #amount type="number" placeholder="Quantidade" formControlName="amount" (focus)="amount.select()">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Valor Total" [value]="item.total | currency:'BRL'" readonly>
          </mat-form-field>
        </mat-card>
      </section>
      <button mat-fab type="submit" *ngIf="canSave" color="primary" (click)="onSaveClick()">
        <mat-icon>check</mat-icon>
      </button>
    </form>
  </td-layout-nav>
</td-layout>
