<td-layout>
  <td-layout-nav toolbarTitle="Novo Item">
    <button mat-icon-button td-menu-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <section class="body">
      <mat-card>
        <form [formGroup]="form">
          <mat-form-field>
            <input matInput type="text" placeholder="Produto" formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Valor Unitário" formControlName="unitaryPrice">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Quantidade" formControlName="amount">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Valor Total" readonly>
          </mat-form-field>
        </form>
      </mat-card>
    </section>
    <button mat-fab *ngIf="canSave" color="primary" (click)="onSaveClick()">
      <mat-icon>check</mat-icon>
    </button>
  </td-layout-nav>
</td-layout>
