$toolbarH: 64px;
$footerH: 50px;
:host {
    button[mat-fab] {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }
    .body {
        .list {
            height: calc(100vh - #{$toolbarH + $footerH} - 2px);
            max-height: calc(100vh - #{$toolbarH + $footerH} - 2px);
            margin-bottom: 2px;
            overflow-y: auto;
            .emptyMessage {
                padding: 20px;
                text-align: center;
                font-size: 2em;
            }
            .items {
                overflow-y: auto;
                .item {
                    background: white;
                }
            }
        }
        footer {
            background: white;
            height: $footerH;
            font-size: 2em;
            text-align: center;
            font-weight: bold;
        }
    }
}
