@use '@angular/material' as mat;

@include mat.core();

$smart-grocery-list-primary: mat.m2-define-palette(mat.$m2-orange-palette, 800, 100, 900);
$smart-grocery-list-accent: mat.m2-define-palette(mat.$m2-light-blue-palette, 600, 100, 900);
$smart-grocery-list-warn: mat.m2-define-palette(mat.$m2-red-palette, 600, 100, 900);

$smart-grocery-list-theme: mat.m2-define-light-theme((color: (primary: $smart-grocery-list-primary,
        accent: $smart-grocery-list-accent,
        warn: $smart-grocery-list-warn,
      )));

@include mat.all-component-themes($smart-grocery-list-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// polyfill for some covalent classes used
.cursor-pointer {
  cursor: pointer;
}

.actions {
  margin-left: auto;
}

.spacer {
  flex: 1 1 auto;
}

.fab-bottom-right {
  position: absolute !important;
  bottom: 24px;
  right: 24px;
  z-index: 100;
}

.sidenav {
  width: 250px;
}